# -----------------------------------------
# 1. Algemene OS- en editor-bestanden
# -----------------------------------------
# macOS
.DS_Store
._*

# VS Code
.vscode/

# Python Virtual Environment
.venv/
venv/
ENV/
env/
myenv/

# Python Cache & Overige
__pycache__/
*.py[cod]
.pytest_cache/

# credentials
.trello_auth

# Streamlit
.streamlit/secrets.toml
